.parallax-slider, .home-background {
  filter: blur(2px) brightness(0.85);
  z-index: -1;
}

.home {
  .home-section {
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba($black, 0), rgba($black, 0.75) 75%);

    .home-background {
      $blur-border: -5px;

      background-image: url('../img/homepage/hero.jpg');
      background-position: center top;
      background-size: cover;

      position: absolute;

      top: $blur-border;
      left: $blur-border;
      bottom: $blur-border;
      right: $blur-border;
    }
  }
}

.home__header {
  color: $white;
  @extend .text-shadow-dark;
  @include breakpoint(large) {
    // Special bigger size text.
    font-size: 3rem;
  }
}

.home__subhead {
  @extend .text-shadow-dark;
  color: $white;
  font-family: $base-font-family;
}

.home-the-organizers {
  @include image("../img/homepage/the-organizers.jpg", 4.5rem);
}

.call-to-action-footer {
  background: $black;

  &__header {
    color: $white;
  }
}
