.parallax-slider, .home-background {
  filter: blur(2px) brightness(0.95);
  z-index: -1;
}

.home {
  .home-section {
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(
      rgba($black, 0), rgba($black, 0.75) 75%
    );

    .home-background {
      $blur-border: -5px;

      background-image: url('../img/hero.jpg');
      background-position: center top;
      background-size: cover;

      position: absolute;

      top: $blur-border;
      left: $blur-border;
      bottom: $blur-border;
      right: $blur-border;
    }

    h1 {
      @include breakpoint(large) {
        // Special bigger size text.
        font-size: 3rem;
      }
    }

    h1, p {
      color: $white;
    }
  }

  .home-logo {
    margin-top: 20px;
    max-width: 216px;
    width: 75%;

    filter: drop-shadow(0 2px 1px $gray);
  }
}

.home-the-organizers {
  @include image("../img/home/the-organizers.jpg", 4.5rem);
}
