<p>
  We see that you're interested in pitching in with
  <%= @campaign.name %>. That's great!
</p>

<p>
  We've passed along your contact information and profile.
  If <%= @campaign.name %> is interested, they'll contact you soon!
</p>

<p>
  Thanks for pitching in!
</p>
