<p>
  <%= @user.name %>,
</p>
<p>
  We received a forgot password request for your account.<br/>
  Click this link to reset your password:
  <%= link forgot_password_path(@conn, :index, email: @user.email, token: @user.reset_token), to: forgot_password_path(@conn, :index, email: @user.email, token: @user.reset_token) %>
</p>
<p>
  If you did not initiate this request, no action is required.
</p>
