<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="We are a meeting place to connect progressive activists of all skill levels with the local campaigns and causes they care about.">
    <meta name="keywords" content="progressive,politics,activism">
    <meta name="author" content="Pitch In">
    <link rel="shortcut icon" type="image/x-icon" href="<%= webpack_path(@conn, "/favicon.ico") %>" />

    <title>Pitch In</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

    <%= if Mix.env != :dev do %>
      <link href="<%= static_path(@conn, "/main.min.css") %>" rel="stylesheet" type="text/css" />
    <% end %>
</head>

<body class="view-login no-js">
  <%= if @conn.path_info == [] && !@current_user do %>
    <%= render PitchIn.PageView, "index.html", conn: @conn %>
  <% else %>
    <%= render "_navbar.html", conn: @conn, current_user: @current_user %>

    <%= render "_flash.html", conn: @conn %>

    <div class="column row">
      <%= render @view_module, @view_template, assigns %>
    </div>
  <% end %>

  <%= render "_footer.html", conn: @conn, current_user: @current_user %>

  <%= if Mix.env == :dev do %>
    <script src='http://localhost:4001/main.js'></script>
  <% else %>
    <script src="<%= static_path(@conn, "/main.min.js") %>"></script>
  <% end %>
</body>
</html>
