<%= case @result[:ask] do %>
  <% nil -> %>
    <%= render "_campaign_search_summary.html", conn: @conn, campaign: @result[:campaign] %>
  <% ask -> %>
    <%= render "_ask_search_summary.html", conn: @conn, campaign: @result[:campaign], ask: ask %>
<% end %>

