<%= case @campaign.asks do %>
  <% [] -> %>
    <%= render "_campaign_search_summary.html", conn: @conn, campaign: @campaign %>
  <% asks -> %>
    <%= for ask <- asks do %>
      <%= render "_ask_search_summary.html", conn: @conn, campaign: @campaign, ask: ask %>
    <% end %>
<% end %>

