$light-blue: #6688cc;
$blue: #3f68bf;
$dark-blue: #2b55ab;

$light-cyan: #80eaff;
$cyan: #50d7f2;
$dark-cyan: #3382cc;

$light-red: #f24c3d;
$red: #d93021;
$dark-red: #ab352b;

$light-yellow: #fff04c;
$yellow: #f3df0c;
$dark-yellow: #d9860b;

$light-green: #39e581;
$green: #55A854;
$dark-green: #09ab4c;

$black: #1f2d3d;
$white: #f9fafc;
$off-white: #e5e9f2;

$light-gray: #7285ab;
$gray: #556380;
$dark-gray: #4c5566;

$shadow-gray: #c7c7c7;
$gray-blue: $gray;

$down-shadow-light: 0 2px 1px $shadow-gray;
$down-shadow-button-light: 0 3px 1px $shadow-gray;
$down-shadow-dark: 0 2px 1px $gray;

@font-face {
  font-family: "Phosphate";
  src: url("../fonts/Phosphate-Solid.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Phosphate-Inline";
  src: url("../fonts/Phosphate-Inline.ttf");
  font-weight: bold;
}

.text-shadow-dark {
  text-shadow: $down-shadow-dark;
}

.text-shadow-light {
  text-shadow: $down-shadow-light;
}
