.first-time-here {
  .or-text {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
    align-self: center;

    @include breakpoint(medium) {
      margin: 0 8px 0 0;
    }

    &__red {
      @extend .or-text;
      color: $red;
    }
  }
}
