.flex-row {
  @include flex(row);
  @include row-flex-spacing();
}

.flex-column {
  @include flex(column);
  @include column-flex-spacing();
}

.flex-left {
  @include flex(row);
  @include row-flex-spacing();
  justify-content: flex-start;
}

.flex-right {
  @include flex(row);
  @include row-flex-spacing();
  justify-content: flex-end;
}

.flex-top {
  @include flex(column);
  @include column-flex-spacing();
  justify-content: flex-start;
}

.flex-bottom {
  @include flex(column);
  @include column-flex-spacing();
  justify-content: flex-end;
}

.flex-center {
  @include flex(row);
  @include column-flex-spacing();
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.flex-fill {
  @include flex(row);
  align-items: stretch;
}

.flex-spacer {
  flex-grow: 1;
}
