.icon {
  @mixin icon($url) {
    $size: 2rem;
    height: 2rem;
    width: 2rem;
    background-image: url("../img/icons/#{$url}");
    display: inline-block;
  }

  &--question {
    @include icon('question.svg');
  }
  &--search {
    @include icon('search.svg');
  }
  &--match {
    @include icon('match.svg');
  }
  &--impact {
    @include icon('impact.svg');
  }
  &--facebook {
    @include icon('facebook.png');
  }
  &--twitter {
    @include icon('twitter.png');
  }
  &--email {
    @include icon('email.png');
  }
}

.fi {
  &.success {
    color: $green;
  }
  &.alert {
    color: $red;
  }
  &.primary {
    color: $blue;
  }
  &.secondary {
    color: $gray;
  }
}
