.tags {
  margin-bottom: 1rem;
  position: relative;

  &__next-input {
    margin-bottom: 0;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    background: $light-blue;
    color: white;
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
  }

  &__tag-closer {
    &:after {
      content: "x";
    }

    &:before {
      content: "|";
      margin: 0 0.25rem;
    }
  }

  &__auto-complete {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
}
