<section class="content-block">
  <h2>Refer a colleague</h2>

  <p>
    Know someone looking to put their skills to good use in helping progressive candidates? Send them a referral code! We'll
    send them an email, and get them connected with open needs!
  </p>

  <%= render "form.html", conn: @conn, changeset: @changeset, action: referral_path(@conn, :create) %>

</section>