<section class="content-block">
  <h2>Thank you for donating!</h2>
  <p>
  Your donation helps keep our servers running, and makes sure we can connect as many progressive
  activists and campaigns as possible.
  </p>
</section>

