<%= if @data.archived_reason && (!assigns[:allowed_reasons] || @data.archived_reason in @allowed_reasons) do %>
  <%= form_for @conn, @action, [as: @type, method: "put"], fn f -> %>
    <input name="archive" value="true" class="hide" />
    <%= text_input f, :archived_reason, class: "hide", value: "" %>

    <%= submit unarchive_text(assigns[:text], @data.archived_reason), class: (assigns[:class] || "warning button") %>
  <% end %>
<% end %>
