<ul class="ask-summary no-dots">
  <li>
    <strong>Need Name</strong><br/>
    <%= @ask.role %>:
    <%= @ask.description %>
  </li>

  <li>
    <strong>Skills</strong><br/>
    <%= @ask.profession %>
  </li>

  <li>
    <strong>
      Estimated
      <%= if @ask.length == :ongoing, do: "Hours/Week", else: "Total Hours" %>:
    </strong>

    <%= @ask.hours %>
  </li>

  <li>
    <strong>Minimum Experience:</strong>
    <%= @ask.years_experience %>
  </li>
</ul>
