<section class="list-header content-block">
  <h2>All Campaigns</h2>
</section>

<section class="content-block">
  <h3>Active Campaigns</h3>
  <%= render "_index_table.html", conn: @conn, campaigns: @active_campaigns %>

  <hr/>

  <h3>Archived Campaigns</h3>
  <%= render "_index_table.html", conn: @conn, campaigns: @archived_campaigns %>
</section>
