<section class="content-block">
<h2>New answer</h2>

<%= render "form.html", changeset: @changeset,
                        conn: @conn,
                        campaign: @campaign,
                        ask: @ask,
                        action: campaign_ask_answer_path(@conn, :create, @campaign, @ask) %>

<%= link "Back", to: campaign_ask_path(@conn, :show, @campaign, @ask) %>
</section>
