<section class="content-block">
<h2>
  Answer to <%= @ask.role %> for <%= @campaign.name %>
</h2>

<%= render PitchIn.CampaignView, "_summary.html", conn: @conn, campaign: @campaign %>
<hr/>
<%= render PitchIn.AskView, "_summary.html", conn: @conn, campaign: @campaign, ask: @ask %>
<hr/>

<h3>Your Answer</h3>
<div>
  <%= @answer.message %>
</div>
<br/>

<div class="expanded button-group">
  <%= link "Back to Search", to: ask_path(@conn, :index), class: "secondary button" %>
</div>
</section>
