.content-block {
  background: $white;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;

  box-shadow: 0 3px 1px -1px $gray;

  &:first-child {
    margin-top: 1rem;
  }

  &.expanded {
    margin: 0 0 1rem 0;
    padding: 1rem 2rem;
  }
}

