.content-block {
  background: $white;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;

  box-shadow: 0 3px 1px -1px rgba($black, 0.16);

  &:first-child {
    margin-top: 1rem;
  }

  &.not-top {
    // Override the 'first-child' margin.
    &:first-child {
      margin-top: 0;
    }
  }

  @mixin expanded {
    margin: 0 -1rem 1rem -1rem;
    padding: 1rem;
    width: calc(100% + 2rem);
  }

  &.expanded {
    @include expanded();
  }

  &.list-header {
    @include expanded();
    & > * {
      // Cancel out any child margins, so they are centered.
      margin: 0;

      // Also handle interior buttons.
      &.button-group > .button {
        margin-bottom: 0;
      }
    }
  }
}

