html {
  height: 100%;
}

body {
  // Anchor for footer logo.
  position: relative;
  min-height: 100%;
}

footer {
  $height: 5rem;
  height: $height;
  margin-top: 1rem;

  .floating-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: $height;
    background: $blue;
  }

  .logo {
    @include absolute-center;

    height: 56px;
    width: 56px;
  }
}
