.navbar {
  .no-js {
    @include breakpoint(small only) {
      .top-bar {
        display: none;
      }
    }

    @include breakpoint(medium) {
      .title-bar {
        display: none;
      }
    }
  }

  .title-bar {
    background: $blue;

    .logo {
      // Copy styles from the top-bar logo.
      justify-content: flex-start;
      display: flex;
      padding: 0.7rem 1rem;
      line-height: 1;
    }

    // Update menu-icon hover color.
    // TOOD: Is there a variable for this?
    .menu-icon:hover::after {
      background: $light-gray;
      box-shadow: 0 7px 0 $light-gray, 0 14px 0 $light-gray;
    }
  }

  // li a to win specificity war.
  .logo, li a.logo {
    align-items: center;
  }

  .logo {
    .name {
      margin: 0 0 0 10px;
      color: $white;

      &:hover, &:active {
        color: $light-gray;
      }
    }
    
    img {
      $logo-height: 56px;
      height: $logo-height;
      width: $logo-height;
      margin: -5px 0;
    }
  }

  a {
    color: $white;

    &:hover, &:active {
      color: $light-gray;
    }
  }

  // Port over styles for links into forms for DELETE links.
  .menu > li > form a {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.7rem 1rem;
    line-height: 1;
  }
}
