.tags {
  background: $off-white;
  padding: 0.25rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: $input-border;

  &__tag, &__next-input {
    background: $light-blue;
    color: white;
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
  }

  &__tag {
    cursor: pointer;
  }

  &__tag-closer {
    &:after {
      content: "x";
    }

    &:before {
      content: "|";
      margin: 0 0.25rem;
    }
  }

  &__next-input {
    border: none;
    width: initial;
    height: initial;

    &::-webkit-input-placeholder {
      color: $white;
      opacity: 0.5;
    }

    &::-moz-placeholder {
      color: $white;
      opacity: 0.5;
    }

    &:-ms-input-placeholder {
      color: $white;
      opacity: 0.5;
    }

    &:-moz-placeholder {
      color: $white;
      opacity: 0.5;
    }

    &::placeholder {
      color: $white;
      opacity: 0.5;
    }

    &:focus {
      background: $light-blue;
      color: $white;
    }
  }
}
