$foundation-palette: (
  primary: $blue,
  secondary: $gray-blue,
  success: $green,
  warning: $yellow,
  alert: $red
);

$button-sizes: (tiny: 0.6rem, small: 0.75rem, default: 1rem, large: 1.25rem);
$header-styles: (
  small:
    (
      'h1': ('font-size': 40),
      'h2': ('font-size': 32),
      'h3': ('font-size': 24),
      'h4': ('font-size': 16),
      'h5': ('font-size': 8),
      'h6': ('font-size': 0)
    ),
  medium:
    (
      'h1': ('font-size': 40),
      'h2': ('font-size': 32),
      'h3': ('font-size': 24),
      'h4': ('font-size': 16),
      'h5': ('font-size': 8),
      'h6': ('font-size': 0)
    )
);

// Global
$body-background: $off-white;
$base-font-family: "Open Sans", sans-serif;
$global-margin: 0.5rem;
$paragraph-margin-bottom: 0.5rem;

$header-font-family: Phosphate, "Helvetica Neue", "Helvetica", Helvetica, Arial,
  sans-serif;
$header-font-weight: bold;
$header-font-style: normal;
$header-color: $gray-blue;

$buttongroup-spacing: 0.5rem;
$buttongroup-margin: 0;
$button-radius: 2px;

$body-font-family: $base-font-family;
$body-font-weight: regular;

$input-font-family: $base-font-family;
$input-color: $gray-blue;
$input-background: $off-white;
$input-shadow: none;
$input-border: 1px solid $black;

$select-background: $input-background;
$select-arrow: url("data:image/svg+xml;utf8,<svg xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#' xmlns='http://www.w3.org/2000/svg' height='29.6pt' width='29.6pt' version='1.1' xmlns:cc='http://creativecommons.org/ns#' xmlns:dc='http://purl.org/dc/elements/1.1/' viewBox='0 0 37.000002 37.000002'> <g transform='translate(-70.928 -273.01)'> <path d='m70.928 273.01h37v37h-37z' fill='none'/> <path d='m71.428 310.01v-37' stroke='#1f2d3d' fill='none'/> <path d='m102.28 286.84-12.852 12.85-12.849-12.85z' fill='#556380'/> </g> </svg>");

$topbar-background: $blue;

$callout-background-fade: 75%;
$callout-padding: 0.5rem;
$callout-radius: 2px;
