<section class="content-block">
  <h2>New campaign</h2>
  <%= render "form.html", changeset: @changeset,
                          action: campaign_path(@conn, :create) %>

  <%= link "Back to Campaigns", to: campaign_path(@conn, :index), class: "expanded secondary button" %>
</section>
