<div class="flex-row">
  <div>
    <%= @campaign.name %>
  </div>
  <%= link "Manage", to: campaign_path(@conn, :edit, @campaign), class: "button" %>
  <%= link "Manage Needs", to: campaign_ask_path(@conn, :index, @campaign), class: "success button" %>

  <%= archive_button(@conn, @campaign) %>
  <%= unarchive_button(@conn, @campaign) %>
</div>
<hr/>
