<div class="campaign-summary">
  <ul class="no-dots">
    <li>
      <strong>Campaign Short pitch</strong><br/>
      <%= @campaign.short_pitch %>
    </li>

    <li>
      <strong>Type:</strong>
      <%= @campaign.type %>
    </li>

    <li>
      <strong>State:</strong>
      <%= @campaign.state %>
    </li>

    <li>
      <strong>District:</strong>
      <%= @campaign.district %>
    </li>
  </ul>
</div>
