<h2>Edit pro</h2>

<p>
  This is your professional profile. It both helps you search for good
  ways to volunteer your skills, and helps campaigns get you know you
  a little better. 
</p>

<%= render "form.html", changeset: @changeset,
                        action: pro_path(@conn, :update, @user) %>
