<section class="content-block">
  <h2>Contact Us</h2>

  <p>
    Questions? Comments? Bug Reports? Please let us know what we can do
    to help!
  </p>

  <%= render "form.html", changeset: @changeset, action: contact_us_path(@conn, :create) %>
</section>
